<!DOCTYPE html>
<html>
<head>
    <title>Clinic Details</title>
    <style>
        body {
            background-color: beige;
        }
        strong {
            font-weight: bold;
        }
        input[type="submit"] {
            margin-top: 10px;
            margin-bottom: 20px;
}
    </style>
</head>
<body>
    <h2>Clinic Details for : {{ record.ClinicName }}</h2>
    
    {% for key, value in record.items() %}
        <p><strong>{{ key }}:</strong> {{ value }}</p>
    {% endfor %}
    
    <form action="{{ url_for('add_comment', id=record['_id']) }}" method="POST">
        <label for="comment">Add a comment:</label><br>
        <textarea id="comment" name="comment" rows="8" cols="50"></textarea><br>
        <input type="submit" value="Submit">
    </form>
    <img src="{{ url_for('image', image_id=record['image_id']) }}" alt="Image">
</body>
</html>
